.login-container {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
}

.login-form {
  min-width: 400px;
  padding: 50px 50px 30px;
  border: var(--main-border);
  border-radius: var(--main-border-radius);
  background-color: white;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media (max-width: 400px) {
  .login-form {
    min-width: 200px;
    padding: 25px 25px 12px;
  }
}