.wrapper-large {
  padding: 20px;
}

.profile-button {
  width: 100%;
}

.main-left-block {
  background-color: white;
}

.main-up-left-block {
  padding-top: 20px;
  border-top-left-radius: 5px;
}

.main-up-right-block {
  padding-top: 20px;
  border-top-right-radius: 5px;
}

.main-down-block {
  padding-bottom: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.profile-photo-small {
  border-radius: 50%;
}

@media (min-width: 768px), (max-width: 768px) {
  .profile-photo-small {
    width: 64px;
    height: 64px;
  }
}

@media (min-width: 769px) {
  .profile-photo-small {
    width: 128px;
    height: 128px;
    border-radius: 50%;
  }
}
