.profile-photo {
    width: 256px;
    height: 256px;
    border-radius: 50%;
}

.wrapper {
    background-color: white;
    border-radius: 2%;
    padding: 20px;
}

.header {
    align-items:center;
    padding-top: 20px;
}

.info {
    padding-top: 20px;
}