.map {
    position: relative;
<<<<<<< Updated upstream
    background-color: whitesmoke;
=======
>>>>>>> Stashed changes
    overflow-x: scroll;
}

.map-image {
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
}

