.main-navbar-container {
  min-height: 5vh;
}
.main-navbar-logo-container {
  display: flex !important;
  justify-content: flex-start;
  width: 100%;
  outline: none;
}

.main-navbar-logo {
  padding-left: 15px;
  font-size: 26px;
  line-height: 1.2;
}

a.main-navbar-logo-container:focus,
a.main-navbar-logo-container:hover {
  outline: 0 !important;
}

.main-navbar-photo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.main-navbar-items {
  display: flex !important;
  justify-content: flex-end;
  align-items: center;
}

.main-navbar-items :last-child {
  margin-left: 10px !important;
}
