.parking-widget {
  overflow: auto;
  background: #e20074;
}

.icon {
  width: 48px;
  height: 48px;
  margin-top: 48px;
  font-weight: bold;
  line-height: 48px;
  font-size: 48px;
  cursor: pointer;
}

.parking-widget .park-place {
  position: relative;
  min-width: 48px;
  height: 150px;
  border-right: solid 10px white;
  box-sizing: content-box;
  color: white;
  padding: 26px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
}

.p-row {
  display: flex;
  margin-bottom: 150px;
}

.p-row:last-child .park-place::after {
  bottom: 0;
}

.parking-widget .park-place::after {
  position: absolute;
  content: "";
  background: white;
  height: 10px;
  width: 30px;
  bottom: 0;
  right: -20px;
  z-index: 1;
}

.parking-widget .park-place:last-child {
  border-right: none;
}

.parking-widget .park-place:last-child::after {
  display: none;
}
