:root {
    --main-border: #e3e3e3 solid 1px;
    --main-border-radius: 5px;

}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
    background-color: white;
    border: var(--main-border);
    border-radius: var(--main-border-radius);
    padding: 20px;
}

.wrapper-margin {
    margin-top: 20px;
}

.wrapper-left {
    margin-left: 10px;
}

.wrapper-right {
    margin-right: 10px;
}
