.workplace-filter-wrapper {
  padding: 20px;
  overflow: auto;
}

.workplace-vertical-divs {
  margin: 5%;
  width: 90%;
}

.workplace-down-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.workplace-left-column {
  width: 29%;
  margin-right: 2%;
}

.workplace-right-column {
  width: 69%;
  margin-left: 2%;
  overflow-y: hidden;
}

@media (min-width: 150px) {
  .workplace-left-column {
    overflow: auto;
  }
}
