.modal-time-off-button {
    border: var(--main-border);
    border-radius: var(--main-border-radius);
    color: rgba(56, 56, 56, 1);
    background-color: white;
    margin: 10px 1px;
    padding: 2px;
    text-align: center;
}

.modal-time-off-button:hover, .modal-time-off-button:focus {
    color: #e20074;
    background-color: rgba(237, 237, 237, 0.6);
}

.modal-time-off-button:active{
    background-color: rgba(237, 237, 237, 1);
}
